body {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Solid', sans-serif;
    background-color: darkturquoise;
}

.imagenes-container{
    /* Centrar imagenes al medio de la pagina */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagenes-container .imagen{
    /* absoluta: se coloca por encima de los demas elementos; Utiliza como base la posicion del padre/contenedor; Sirve para top y left */
    /* relativa: Utiliza como base la posicion de si mismo; los demas elementos respetan su espacio; Sirve para top y left */
    position: relative;
    margin: 40px 20px;    
    /* Se ajustan las imagenes en una linea */
    display: inline-flex; 
    /* se organizan las imagenes y el texto en columnas */
    flex-direction: column;
}

.imagenes-container .imagen img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
}

.imagenes-container .imagen .nombre {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -70px;
}

.imagenes-container .imagen .nombre .texto{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    
}
/* Comienzan hover */
.imagenes-container .imagen:hover .nombre{
    display: flex;

}
.imagenes-container .imagen:hover img{
    transform: translateY(-5%);
}
/* Comienzan before */
.imagenes-container .imagen .nombre::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    top: 47px;
    left: 40%;
    /* background-color: blue;  -----> Linea de referencia */
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width:680px){
    .imagenes-container{
        flex-direction: column;
        height: 220vh;
    }
}


